@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Cinzel:wght@500&family=Merriweather&family=Monoton&family=Oleo+Script&family=Vollkorn:ital,wght@1,600&family=Water+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Cinzel:wght@500&family=Merriweather&family=Monoton&family=Oleo+Script&family=Oleo+Script+Swash+Caps:wght@400;700&family=Vollkorn:ital,wght@1,600&family=Water+Brush&display=swap');
*{
    
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
   
}

.start{
    height: 25vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-color: rgb(0, 0, 0);
}
nav{
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:45px;
    padding-left: 8%;
    padding-right: 8%;
}
.logo{
    display: flex;
    font-family: 'Water Brush', cursive;
    border: 5px solid rgb(255, 253, 253);
    color: rgb(255, 141, 42);
    font-size: 35px;
    letter-spacing: 20px;
    cursor: pointer;
}
.lio{
    color: rgb(180, 234, 255);
}
span{
    color: rgb(148, 246, 255);
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
    
}
nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    text-transform: capitalize;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}
nav ul li a:hover{
    color: rgb(255, 12, 12);
    transition: .4s;
}

.images{
    position: absolute;
    right:120px;
    top:25%;
}

.details{
    padding-left: 90px;
    position: absolute;
    bottom: 250px;
}

h2{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-left: 20px;
}

h1{
    font-size: 70px;
    color: rgb(255, 147, 80);
    padding-top: 30px;
    padding-left: 20px;
}
p{
    padding-left: 30px;
    font-size: 22px;
    font-weight: bold;
    padding-top: 10px;
    color: rgb(255, 255, 255);
}
.bold{
    color: rgb(255, 58, 137);
    font-family: 'Oleo Script Swash Caps', cursive;
}
.dot{
    color: rgb(255, 58, 137);
    font-family: 'Oleo Script Swash Caps', cursive;
}
.button{
 text-decoration: none;
  position: absolute;
  left:120px;
  bottom:140px;
  border: 3px solid rgb(24, 0, 21);
  border-radius: 20px;
  padding: 3px 3px;
  font-weight: bold;
  background-color: rgb(0, 225, 255);
  color: rgb(0, 0, 0);
}
.button:hover{
    background-color: rgb(0, 16, 19);
    border: 3px solid white;
    color:aqua;
    transition: .5s;
}
footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height:60px;
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.social a{
    color: rgb(255, 58, 137);
    padding-right: 40px;
    
}
.social a:hover{
    color:white;
    transition: .4s;
}
.dark{
    position: absolute;
    right: 15px;
   top: 15px;
   color:white ;
   font-size: 25px;

}

.dark :hover{
    color:yellow;
}